$logoColor: #ff0000;
$colorBlack:  #000000;
$colorLigtGreen: #00ff11;
$colorLigtRed: #ff0000;

#content  // div with id: content
{
    color: $colorBlack;
}

h2
{
    color: $colorBlack;
}

h1{
    color: $logoColor;
}

#colorGreen
{
    color: $colorLigtGreen;
}

#colorBlack
{
    color: $colorBlack;
}