$logoColor: #ff0000;
$colorBlack:  #000000;
$colorLigtGreen: #00ff11;
$colorLigtRed: #ff0000;
$colorForColumnBackGround: rgba(255, 255, 255, 0.11);
$height: 21px;

// . is Class
// # is Id

#content  // div with id: content
{
    color: $colorBlack;
}

.lining  // div with id: content
{
    color: $colorBlack;
    text-align: center;
}

h2
{
    color: rgb(230, 230, 230);
}

p {
    color: $colorBlack;
}

h1{
    color: $logoColor;
    text-transform: uppercase;
    font-family: "Courier New";
    font-size: 40px;
}

#colorGreen
{
    color: $colorLigtGreen;
}

#colorBlack
{
    color: $colorBlack;

}

.row 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 22%;
    text-align: center;
}
  
.column 
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
  
.blue-column 
{
    background-color: $colorForColumnBackGround;
    height: $height;
    color: $colorBlack;
}
  
.green-column 
{
    height: $height;
    background-color: $colorForColumnBackGround;
}

body {
    width:100%;
	margin:auto;
}

#header {
    background: -webkit-linear-gradient(left, #ff0000, #bc0f0f);
    background: -moz-linear-gradient(left, #ff0000, #bc0f0f);
    background: -ms-linear-gradient(left, #ff0000, #bc0f0f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f4dbc', endColorstr='#00a9e0', GradientType=1);
    color: #fff;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}